.not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.not-found-left h3 {
  font-size: 24px;
  color: #939393;
}

.not-found-left h4 {
  font-size: 18px;
  color: black;
}

.not-found-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.not-found-left h1 {
  color: #000;
  font-size: 48px;
}

.not-found-right {
  max-height: 736px;
  max-width: 736px;
  width: 100%;
  height: 100%;
}

.not-found-right img {
  max-height: 736px;
  max-width: 736px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1020px) {
  .not-found-inner {
    flex-direction: column-reverse;
  }

  .not-found-right {
    max-height: 500px;
    max-width: 500px;
  }

  .not-found-right img {
    max-height: 500px;
    max-width: 500px;
  }

  .not-found-left {
    justify-content: center;
  }
  .not-found-left * {
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .not-found-left h1 {
    font-size: 32px;
  }
  .not-found-left h3 {
    font-size: 16px;
  }
}
