.aside {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}

.aside-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background: $gray;
  padding: 2.4rem 1.6rem;
}

.aside-inner {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.aside-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .aside-wrapper {
    gap: 3.2rem;
    padding: 2.4rem 0.8rem;
  }
}

@media (max-width: 1024px) {
  .aside {
    gap: 0rem;
  }
}

// @media (max-width: 1024px) {
//   .aside {
//     flex-direction: row;
//     align-items: flex-start;
//     gap: 2.4rem;
//   }
// }
