@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include roboto;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

abbr[title] {
  text-decoration: none;
}

abbr {
  width: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include raleway;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 140rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.react-calendar__month-view__days {
  column-gap: 1.8rem;
}
