// SUPHEADER
.supheader {
  height: 11rem;
  background: $main;
}

.supheader-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;

  h1 {
    font-size: 2rem;
    color: $white;
  }
}

.supheader-logo {
  max-width: 48.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// NAV

.nav {
  background: $main;
}

.nav-inner {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8rem;

    li {
      a {
        display: block;
        padding: 1.6rem 0;
        font-size: 1.6rem;
        color: $white;
      }
    }
  }
}
