.nav-inner {
  padding: 3rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 2.4rem;
  justify-content: space-between;
  border-bottom: 0.1rem solid $black;
}

.search {
  position: relative;
  input {
    border: 0.1rem solid $gray-dark;
    padding: 1rem 1.4rem;
    font-size: 1.6rem;
    color: $black;
    border-radius: 0.5rem;
  }

  div {
    pointer-events: none;
    position: absolute;
    left: 1.4rem;
    top: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    span {
      font-size: 1.6rem;
      color: $gray-dark;
    }
  }
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-right {
  ul {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    color: $black;
  }
}

.language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: $black;
}

.language-dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  // height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 0.1rem solid $gray;
  li {
    button {
      padding: 1.4rem 1rem;
      font-size: 1.6rem;
      background: $white;
      width: 100%;
      cursor: pointer;
    }
  }
}

.subnav-inner {
  padding: 1.6rem 0;
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;

  li {
    color: $black;
  }
  a {
    display: block;
    white-space: nowrap;
    padding: 1rem;
    font-size: 1.6rem;
    color: inherit;
    @include raleway;
  }
}
