.news-wrapper {
  display: grid;
  grid-template-columns: 32rem 1fr;
  gap: 1.6rem;
  height: 18rem;
}

.news-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.6rem;
}

.news-info-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.news-title {
  font-size: 2.4rem;
  font-weight: 700;
  @include raleway;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.news-status-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  flex-wrap: wrap;
}

.news-link {
  color: $main;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.8rem;
}

.news-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: $body;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  p {
    * {
      display: block;
    }
  }
}

.news-date {
  color: $gray-dark;
  font-weight: 400;
  @include roboto;
  font-size: 1.4rem;
}
.news-category {
  display: inline-block;
  color: $main;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  @include roboto;
}

.news-scroll {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.news-scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.news-scroll-inner {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.scroll-empty {
  font-size: 1.4rem;
  color: $black;
}

.news-image {
  img {
    @include wh100;
  }
}

@media (max-width: 1024px) {
  .news-title {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .news-wrapper {
    grid-template-columns: 25rem 1fr;
  }
}
@media (max-width: 750px) {
  .news-title {
    font-size: 1.8rem;
  }
  .news-wrapper {
    display: flex;
    flex-direction: column;
  }
  .news-image {
    min-height: 16rem;
  }
}

@media (max-width: 400px) {
}
