.news-article {
  padding: 5.6rem 0;
  .loader {
    margin: 4rem 0;
  }
}
.news-article-inner {
  display: grid;
  grid-template-columns: calc(67% - 1.2rem) 1fr;
  gap: 2.4rem;
}
.news-article-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.6rem;
}

.news-article-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.news-article-status {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.news-article-left {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  a {
    &:nth-child(n + 5) {
      display: none;
    }
  }
}

.news-article-category {
  @include roboto;
  color: $main;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.news-article-date {
  color: $body;
  font-size: 1.6rem;
  font-weight: 400;
  @include roboto;
}

.news-article-title {
  @include raleway;
  font-weight: 700;
  font-size: 2.4rem;
  color: $black;
}

.news-article-image {
  height: 44rem;
  img,
  span {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-article-text {
  @include roboto;
  color: $body;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  line-height: 2.5rem;
}

.share-btn {
  background: $main;
  color: $white;
  width: fit-content;
  display: none;
  align-items: center;
  padding: 1rem;
  @include raleway;
  font-size: 1.6rem;
  gap: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .news-article-inner {
    display: block;
  }

  .news-article-content {
    margin-bottom: 5.6rem;
  }
}

@media (max-width: 750px) {
  .news-article-image {
    min-height: unset;
    height: 25rem;
  }
  .news-article-text {
    gap: 0.8rem;
  }
  .news-article-inner {
    display: block;
  }

  .news-article-content {
    margin-bottom: 5.6rem;
  }
  .news-article-left {
    a {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .news-article-image {
    height: 20rem;
  }
  .news-article-category {
    font-size: 1.6rem;
  }

  .news-article-title {
    font-size: 1.8rem;
  }

  .news-article-text {
    font-size: 1.6rem;
  }

  .news-article-content {
    gap: 1.6rem;
  }

  .news-article-status {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1.6rem;
  }

  // .news-article-left {
  //   flex-wrap: wrap;
  //   row-gap: 0.8rem;
  // }
}
