.news-wrapper {
  display: flex;
  // align-items: center;
  gap: 1.6rem;
}

.news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.6rem;
}

.news-info-inner {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.news-title {
  font-size: 2.4rem;
  font-weight: 700;
  @include raleway;
}

.news-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-link {
  color: $main;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.8rem;
}

.news-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: $body;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
