$main: #2368ad;
$blue: #3c7ec0;
$light: #c1daf3;
$white: #ffffff;
$black: #272727;
$red: #e53131;
$gray: #a6a6a6;
$dark-gray: #7d7d7d;
$border-gray: #d9d9d9;

@mixin wh100 {
  width: 100%;
  height: 100%;
}
